/************************************
  HEADING
************************************/

/*  centers elements in heading  */
.main-header {
  @extend %centered;
  margin: 0 auto;
  padding: 0 16px;
}

/*  nesting rule for profile */
.profile {
    &-banner {
      @extend %clearfix;
      padding-top: 1.75em;
      padding-bottom: 1.75em;
      @include desktop {
      position: relative;
      }
      @include tablet {
      padding-bottom: 3em;
      }
    }
    &-picture {
      width: 70%;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      @include desktop  {
      float: right;
      clear: right;
      }
      @include tablet {
      max-width: 40%;
      float: right; 
      display: $inbk;  
      }
    }
    &-intro {
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      @include desktop  {
      margin-top: 0;
      max-width: 55%;
      display: $inbk; 
      }
      @include tablet {
      margin-top: 0;
      max-width: 60%;
      font-size: 1.25em;
      float:left;
      text-align: left;
      display: $inbk;  
      }
    }
}


